body {
  padding: 20px;
  margin: 0;
  background-color: rgb(24, 26, 27);
}
h1,
h2,
h4,
p,
ul,
li,
b,
a[href] {
  font-family: "Open Sans", sans-serif;
  color:white;
}

#git-text{
  color:red;
}

.search-inputs{
  background-color:white ; 

}

.search-box{
  background: rgb(180, 145, 145);
  border-radius: 25px;
  margin-bottom:20px;
  padding-top:10px;
  padding-bottom:10px;
}

table {
  border-radius: 25px;
  background: rgb(212, 212, 212);
  padding: 20px;
  width:100%;
  
}

tbody{
  background-color:rgb(224, 224, 224);
}
tr:nth-child(even) {background-color: #f2f2f2;}
thead {
  background-color:rgb(223, 115, 115);
}

.container {
  width: 800px;
  margin: auto;
  width: 50%;
}
.headerlink {
  color: #3f0f6f;
  margin-left: 170px;
}

.login_title {
  margin: auto;
  width: 50%;
  padding-bottom: 30px;
  text-align:center;
}

.api_block {
  margin-bottom: 20px;
  border-bottom: solid 1px;
}

.api_request_body {
  border-bottom: 1px solid;
  font-size: 1.6em;
}

.api_body_info {
  border: 2px;
}

.api_border_wrapper {
  border-bottom: 1px solid;
}

.api_attribute_values {
  display: flex;
  padding-bottom: 20px;
}

.api_attribute_body {
  border-bottom: 1px solid #8cadb3;
  list-style-type: "→";
}

.api_attribute {
  margin: auto;
  width: 450px;
}

.api_attribute_name {
  float: right;
}

.api_attribute_type {
  float: left;
}

.api_attribute_rightbox {
  float: right;
  width: 47%;
}

.api_attribute_leftbox {
  float: left;
  width: 38%;
}

.api_title {
  display: inline-block;
}

.attribute {
  border-bottom: 1px solid;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
ul {
  text-align: center;
}
ul.nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.nav {
  padding: 0;
}
ul.nav li a {
 
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.nav li a:hover {
  color: #79ccb5;
}
.pages {
  text-align: center;
  background-color: rgb(29, 32, 33);
  padding: 20px;
}
.pages h2 {
  padding: 0;
  margin: 0;
}
.home,
.documentation,
.about {
  margin-top: 20px;
  padding: 20px;
  color: #343a40;
}
.active {
  border-bottom: 5px solid #79ccb5;
}
.stackery-logo,
.react-logo {
  width: 250px;
}
.plus {
  font-size: 3rem;
}

/* LOGIN START */
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  background-color:white;
  padding-left:20px;
  padding-right:20px;
}

/* Full-width inputs */
.login_username,
.login_password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(112, 105, 105);
  box-sizing: border-box;
}

.logincontainer {
  width: 800px;
  margin: auto;
  width: 50%;
}

.logoutheader {
  float: right;
}

/* Set a style for all buttons */
.login_button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup_button {
  background-color: #2c7b9b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginerror {
  color: red;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* LOGIN END */
